<li class="list-group-item {bgcolor}">
    <div class="media">
        <div class="media-body">
            <h6 class="mt-0"><span class="mark px-0">{first_name}&nbsp;{last_name}</span>&nbsp;<span class="text-muted">&blacktriangleright;</span>{role}&nbsp;<span class="text-muted">&bullet;&nbsp;{date}</span>&nbsp;<span class="text-danger {display_supervisor}">&bullet;&nbsp;Flagged for Supervisor attention!</span><span class="text-danger {display_coordinator}">&bullet;&nbsp;Flagged for Coordinator attention!</span><span class="text-danger {display_many_errors}">&bullet;&nbsp;Too many errors!</span></h6>
            {comment}
        </div>
    </div>
</li>