<div class="row mt-3">
    <div class="col">
        <h2>{QUEUE_TITLE}
            <small class="text-muted font-weight-light text-capitalize">&bullet; {WORKER_NAME}, ID: <b>{WORKER_ID}</b></small>
        </h2>
    </div>
</div>
<div class="row">
    {CURRENT_BOOK}
</div>
<hr>
<div class="row">
    <div class="col">
        <div class="form-row">
            <div class="form-group col-12">
                {SPECIFIED_ID}
                {REQUEST_BOOK}
                {TOO_MANY_ERRORS}
                {ATTENTION_NOTICE_COORDINATOR}
                {ATTENTION_NOTICE_SUPERVISOR}
                {HAS_IMAGES}
            </div>
        </div>
    </div>
</div>