<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item{ACTIVE_UPLOAD}{ACTIVE_PROOFREADER}{ACTIVE_PROOFREADER_SUPERVISOR}{ACTIVE_IMAGE_EDITOR}{ACTIVE_LAYOUT}{ACTIVE_LAYOUT_SUPERVISOR}{ACTIVE_BLURB_WRITER}{ACTIVE_BLURB_EDITOR}{ACTIVE_COVER_ARTIST}{ACTIVE_FINAL_APPROVAL}">
                <a class="nav-link" href="/queue">Book</a>
            </li>
            <li class="nav-item{ACTIVE_PROFILE}">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>